body {
background-color: #4215cc;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #c5b3d9;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}